


@font-face {
    font-family: "alfont_com_AlFont_com_TanseekModernProArabic-Light-1";
    src:url("../webfonts/Tanseek-Modem/alfont_com_AlFont_com_TanseekModernProArabic-Light-1.woff") ,  url("../webfonts/Tanseek-Modem/alfont_com_AlFont_com_TanseekModernProArabic-Light-1.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}





@font-face {
    font-family: "alfont_com_AlFont_com_4_7D-1";
    src: url("../webfonts/Tanseek-Modem/alfont_com_AlFont_com_4_7D-1.woff")  , url("../webfonts/Tanseek-Modem/alfont_com_AlFont_com_4_7D-1.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}







